@import "../../theme/variables.scss";

.navMenu {
  display: none;

  @media (min-width: $breakpoint-md) {
    display: flex;
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }
}