 @import './variables.scss';

 .p-0 {
   padding: 0;
 }

 .p-1 {
   padding: 0.5rem;
 }

 .p-2 {
  padding: 1rem;
}

 .p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-8 {
  padding: 4rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem
}

.m-4 {
  margin: 3rem;
}

.m-8 {
  margin: 4rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
 margin-left: 1rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.maxWidth {
  max-width: 500px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-italic {
  font-style: italic
}

.text-bold {
  font-style: bold;
}

.text-underline {
  font-style: underline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-r8 {
  border-radius: 8px;
}

.border-r25 {
  --border-radius: 25px;
}

a {
  text-decoration: none;
}

.rounded-button {
  --border-radius: 25px;
}